<body>
{% for article in articles %}

{#    send the GET to article.php so it can be retrieved by the database and display the correct article #}
<div class="row">
        <div class="col">view <a href="../article.php?id={{ article['id'] }}">
         {{ article['title'] }} </a> </div>
        <div class="col">edit <a href="../admin/article-edit.php?id={{ article['id'] }}">{{ article['title'] }}</a> </div>
</div>

{% endfor %}
</body>
