<body>

    <img src="../assets/images/{{ article.header_image }}" />
{#    get request to the article.php page with the according ID#}
    <h2><a href="article.php?id={{ article.id }}">
            {{ article.title }} </a>
    </h2>
    <p>
        {{ article.body }}
    </p>
</body>
