<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>
    {% set userName= user|split('') %}
    {% set i =0 %}
    {% for character in userName %}
        <a style="color:{{ col }};">{{ character }}</a>
        {% if i%2==0 %}
            {% set col = 'red' %}
            {% set i=i+1 %}
        {% else %}
            {% set col = 'black' %}
            {% set i=i+1 %}
        {% endif %}
    {% endfor %}

</h1>

</body>

</html>